$green: #67c232;
@mixin mixinExample {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body {
    background-color: $green;
    font-size: 28px;
}

main {
    width: 100%;
    height: 100vh;
    padding: 0em;
    @include mixinExample;
}

h3 {
    margin-bottom: 0.6em;
    font-size: 1.3em;
}

p {
    font-size: 0.80em;
}

a {
    color: white;
    font-size: 0.80em;
    display: block;
    &:hover {
        color: rgb(187, 187, 187)
    }
}